.info {
	color: brown;
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
}

.infoAnimal {
	visibility: hidden;
}

.infoAnimalVisible {
	font-size: large;
	position: absolute;
	top:90%;
	bottom: 0%;
	right: 10%;
	left: 10%;
	visibility: visible;
	background-color: gray;
	border-color: orange;
	border-style: solid;
	border-width: medium;
}

.animalName {
	text-align: center;
	text-transform: capitalize;
	font-weight: bolder;
	color: maroon;
}

.animalDescription {
	font-style: italic;
}